.App {
  text-align: center;
}

.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cell {
  width: calc(100% / 16);
  height: calc(100% / 16);
  box-sizing: border-box;
}

.clear {
  position: absolute;
  left: 50%;
  top: 9%;
  transform: translateX(-50%);
}